/* Universal element */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Variables */
:root{
  --dark: #01213f;
  --white: #f3f3f3;
}

/* body, a and p elements are used on the whole html */
body {
    background-color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1vw;
}

a {
    color: var(--dark);
    text-decoration: underline;
}

/* Elements for header design */
header {
    background-color: var(--white);
    color: var(--dark);
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3.5em;
}

.site-padding {
    padding-left: 7%;
    padding-right: 7%;
}

#greendot {
    color: rgb(10, 177, 243);
}

h1 {
    display: flex;
    font-size: 3.5em;
}

.nav-style {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    display: flex;
    justify-content: flex-end;
}

li {
    margin-right: 3%;
}
/* Main section elements and atributes */

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6.5em;
    color: var(--dark);
}

.intro {
    padding-bottom: 8em;
    padding-top: 11em;
}

.personal-into {
    font-size: 1.7em; 
    color: rgb(4, 111, 153);
    padding: 3vw;
    width: 55%;
    max-width: 100%;
}

/* Work and success stories section */
#main-project-title {
    margin-bottom: 10px;
    text-align: left;
    font-size: 17px;
}

.content {
    margin-right: 3vw;
    display: inline-block;
    margin-left: 3vw;
} 

.main-project {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
}

img {
    width: 100%;
}

.image-one-text {
    width: 100%;
    padding-left: 5%;
    font-size: 1.7em; 
    color: var(--dark);
    border: 2px solid black;
    line-height: 150%;
}


.project-two{
    margin-bottom: 20px;
    width: 45%;
    height: 300px;
    display: flex;
    float: left;
}

.project-three{
    margin-bottom: 20px;
    width: 45%;
    height: 300px;
    display: flex;
    float: right;
}

.image-text-p2 {
    width: 100%;
    justify-content:baseline;
}

@media screen and (max-width: 767px){
    h2 {
    font-size: 6.5em;
    }
    nav {
        flex-direction: column;
    }
    p {
    font-size: 1.7em; 
    }
}

@media screen and (max-width: 479px){
    h2 {
    font-size: 6.5em;
    }
    nav {
        flex-direction: column;
    }
    p {
    font-size: 1.7em;
    }
}